@use '../variables.scss' as var;



body {
	&.header_reduced {
		header {
			.logo {
				max-width: 450px;
			}
		}
	}
}

@media(min-width: 40em) {
	.intro_section {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px;

		blockquote {
			flex: 0 0 auto;
			width: 300px;
			margin: 0;
			text-align: right;
		}

		.rotate {
			width: auto;
			margin-left: auto;

			.options {
				text-align: left;
			}
		}

		.image {
			flex: 1 1 30vw;
			max-width: 500px;
			margin: 0;
			margin-left: 50px;

			svg {
				max-width: unset;
			}

			.blob_2 {
				right: auto;
				left: 0;
			}
		}

		.blob_small {
			display: block;
		}

		@supports(grid-template-areas: '.') {
			.rotate {
				justify-content: end;
			}
		}
	}
}

@media(min-width: 60em) {
	header {
		padding: 150px 50px;

		.logo {
			width: 60vw;
		}

		.hexagon {
			width: 150vw;
		}

		.blob_2,
		.squiggle,
		.paw {
			display: block;
			position: absolute;
		}

		.blob_left {
			svg {
				top: 70px;
				left: -200px;
				width: 400px;
				transform: rotate(-80deg);
			}
		}

		.blob_right {
			svg {
				top: -50px;
				right: -50px;
				width: 350px;
			}
		}

		.squiggle {
			top: 200px;
			right: 0;
			width: 200px;
		}

		.paw {
			bottom: 50px;
			left: 20px;
			width: 100px;
		}
	}

	.intro_section {
		margin-top: -100px;
		margin-bottom: 0;
		padding: 50px 5vw;
		font-size: 2em;

		blockquote {
			width: 400px;
		}

		.image {
			.blob_2 {
				bottom: -50px;
			}
		}

		.blob_small {
			right: -25px;
		}
	}

	body {
		&.header_reduced {
			header {
				padding: 100px 50px;

				.logo {
					max-width: 500px;
				}

				.blob_2,
				.squiggle,
				.paw {
					display: none;
				}
			}
		}
	}
}

@media(min-width: 70em) {
	.intro_section {
		padding: 50px 10vw 0;
	}

	body {
		&.header_reduced {
			header {
				margin-bottom: 50px;
			}
		}
	}
}

@media(min-width: 75em) {
	header {
		padding: 170px 50px;

		.blob_left {
			svg {
				top: 100px;
				left: -300px;
				width: 600px;
			}
		}

		.blob_right {
			svg {
				top: -40px;
				right: -60px;
				width: 400px;
			}
		}

		.squiggle {
			top: 300px;
			right: -10px;
			width: 250px;
		}

		.paw {
			bottom: 100px;
		}
	}
}

@media(min-width: 80em) {
	.intro_section {
		width: 90vw;
		max-width: 1300px;
		margin-right: auto;
		margin-left: auto;
		padding: 50px 50px 100px;
		font-size: 2.5em;

		blockquote {
			width: 500px;
		}

		.image {
			margin-left: 100px;
		}

		.blob_small {
			right: calc(-5vw - 10px);
		}
	}

	body {
		&.header_reduced {
			header {
				margin-bottom: 100px;
				padding: 100px 50px 150px;

				.logo {
					max-width: 600px;
				}
			}
		}
	}
}
