<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="x-ua-compatible" content="ie=edge"/>
		<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"/>
		<link rel="stylesheet" href="/main.css"/>
		<link rel="shortcut icon" href="/img/amy_small.png"/>

		{% set metatitle = "Amy Kapernick" %}
		{% set description = "Amy is a freelance developer, who spends her time volunteering at various community events in Perth, works as an evangelist for YOW! and is a Twilio Champion and Microsoft MVP. In her spare time she blogs about tech, the web and life and speaks at various conferences all over the world." %}

		{# Meta Info #}
		<title>{{metatitle}}</title>
		<meta name="description" content="{{description}}"/>

		{# OG Social #}
		<meta property="og:title" content="{{metatitle}}"/>
		<meta property="og:description" content="{{description}}">
		<meta property="og:image" content="/img/socials/linkedin_wide.png"/>
		<meta name="author" content="Amy Kapernick"/>
		<meta property="og:url" content="https://amyskapers.dev"/>

		{# Twitter #}
		<meta name="twitter:card" content="summary_large_image"/>
		<meta name="twitter:site" content="@amys_kapers"/>
		<meta property="twitter:image" content="/img/socials/twitter_wide.png"/>
		<meta name="twitter:creator" content="@amys_kapers"/>
	</head>

	<body>
		{{'/img/wave.svg' | svgContents | safe}}

		<h1 class="hidden">Amy Kapernick</h1>

		<header>
			<blockquote>
				<p>Hi 👋</p>
				<p>I'm Amy</p>

				<p>
					I'm a<span class="rotate">
						<span>&nbsp;Front End Developer</span>
						<span>&nbsp;Speaker</span>
						<span>&nbsp;Dog Lover</span>
						<span>&nbsp; MVP</span>
						<span>&nbsp;Writer</span>
						<span>n Organiser</span>
						<span>&nbsp;Mentor</span>
						<span>&nbsp;Champion</span>
						<span>n Evangelist</span>
						<span>&nbsp;Conference Addict</span>
					</span>
				</p>
			</blockquote>
			<img src="./img/amy.png"/>
		</header>
		<main class="home">
			{{'/img/websites.svg' | svgContents | safe}}
			<blockquote>
				<p>I help small to medium businesses get their websites online and stay online.</p>
				<a href="https://aimhigherweb.design" target="_blank">
					{{'/img/aimhigher.svg' | svgContents | safe}} AimHigher Web Design
				</a>
			</blockquote>

			{{'/img/speaking.svg' | svgContents | safe}}
			<blockquote>
				<p>I speak at conferences about front end development, the web, mental health and life.</p>
				<a href="https://speaking.amyskapers.dev" target="_blank">{{'/img/notist.svg' | svgContents | safe}} Notist</a>
			</blockquote>

			{{'/img/mentor.svg' | svgContents | safe}}
			<blockquote>
				<p>
					I mentor at events, helping more girls and women get involved in tech. This includes She Codes (formerly Perth Web Girls) and
					Muses Code JS (formerly NodeGirls).
				</p>
				<a href="https://techoutsiders.com.au/amy-kapernick" target="_blank">
					{{'/img/techoutsiders.svg' | svgContents | safe}} Tech Outsiders
				</a>
				<a href="https://musescodejs.org/perth.html" target="_blank">
					{{'/img/musesjs.svg' | svgContents | safe}} Muses Code Js
				</a>
				<a href="https://shecodes.com.au/" target="_blank">
					<img src="./img/shecodes.png"/>
					She Codes
				</a>
			</blockquote>

			{{'/img/blog.svg' | svgContents | safe}}
			<blockquote>
				<p>
					I write blog posts. Sometimes I blog about tech, sometimes about the web, sometimes about life.
				</p>
				<a href="https://amygoestoperth.com.au" target="_blank">{{'/img/window-paragraph.svg' | svgContents | safe}} Amy Goes to Perth</a>
			</blockquote>

			{{'/img/organiser.svg' | svgContents | safe}}
			<blockquote>
				<p>I'm a Microsoft MVP. This means I do a lot of work in my community and sharing what I've learnt in conference talks and blog posts.</p>
				<a href="https://mvp.microsoft.com/en-us/publicprofile/5003595?fullname=amy%20kapernick" target="_blank">{{'/img/mvp.svg' | svgContents | safe}} Microsoft MVP</a>
			</blockquote>

			{{'/img/pair.svg' | svgContents | safe}}
			<blockquote>
				<p>I'm a Twilio Champion. This means I help Twilio to build better communities.</p>
				<a href="https://www.twilio.com/champions" target="_blank">{{'/img/twilio.svg' | svgContents | safe}} Twilio Champions</a>
			</blockquote>

			{{'/img/social.svg' | svgContents | safe}}
			<blockquote>
				<p>Sometimes I write interesting things on socials, but mostly it's just pictures of my dog.</p>
				<a href="https://twitter.com/amys_kapers" target="_blank">{{'/img/twitter.svg' | svgContents | safe}} Twitter</a>
				<a href="https://www.instagram.com/amys_kapers/" target="_blank">{{'/img/instagram.svg' | svgContents | safe}} Instagram</a>
				<a href="https://github.com/amykapernick" target="_blank">{{'/img/github.svg' | svgContents | safe}} GitHub</a>
				<a href="https://codepen.io/aimhigherwebdesign-amy/" target="_blank">{{'/img/codepen.svg' | svgContents | safe}} Codepen</a>
				<a href="https://www.linkedin.com/in/amykapernick" target="_blank">{{'/img/linkedin.svg' | svgContents | safe}} LinkedIn</a>
			</blockquote>

			{# {% include 'community.svg' %}
			<blockquote>
				<p>
					I'm a co-organiser for Fenders, a community group of front end developers (mostly) in Perth. We run events throughout the year
					as well as maintaining an active Slack group.
				</p>
				<a href="https://fenders.co" target="_blank">
					{% include 'fenders.svg' %} Fenders
				</a>
			</blockquote> #}

			{{'/img/evangelist.svg' | svgContents | safe}}
			<blockquote>
				<p>
					I work as an evangelist for YOW! Conferences. This means I spent a lot of time at community events and working with local
					businesses and community groups to see how we can help them and get them involved in our conferences.
				</p>
				<a href="https://yowconference.com" target="_blank">
					{{'/img/yow.svg' | svgContents | safe}} YOW! Conferences
				</a>
			</blockquote>

			<img class="left" src="./img/remi.jpg"/>
			<blockquote>
				<p>I have a grey and white border collie who likes long walks on the beach and cuddles on the couch.</p>
			</blockquote>

		</main>
		<footer id="where">
			<h2>Where is Amy?</h2>
			<p>Right now Amy is in <span class="location"></span>
				<span class="conference"></span></p>
			<h3>Coming Up Next</h3>
			<h4>Trips</h4>
			<ul class="trips"></ul>
			<h4>Conferences</h4>
			<ul class="conferences"></ul>
		</footer>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.28.5/date_fns.min.js"></script>
		<script src="/js/main.js"></script>
	</body>
</html>