<!DOCTYPE html>
<html>
	<head>
		<title>Amy Kapernick</title>
		<link rel="stylesheet" href="/css/main.css"/>
	</head>

	<body>
		<blockquote>
			<p>Hi 👋</p>
			<p>I'm Amy</p>

			<p>I'm a<span class="rotate">
					<span>Front End Developer</span>
					<span>Speaker</span>
					<span>Dog Lover</span>
					<span>Blog Writer</span>
					<span>Organiser</span>
					<span>Mentor</span>
					<span>Champion</span>
				</span>
			</p>
		</blockquote>
		<img src="./img/amy.png"/>
		{% include 'websites.svg' %}
		<blockquote>
			As the founder of AimHigher Web Design, I help small to medium businesses get their websites online and stay online.
		</blockquote>
		{% include 'speaking.svg' %}
		<blockquote>
			I speak at conferences about front end development, the web, mental health and life.
		</blockquote>
		{% include 'mentor.svg' %}
		<blockquote>
			I mentor at events, helping more girls and women get involved in tech..
		</blockquote>
		{% include 'blog.svg' %}
		<blockquote>
			I write blog posts.
		</blockquote>
	</body>
</html>