---
layout: partials/layout.njk
---

{% include 'partials/header.html' %}

<main id="main">
	{{ content | safe }}
</main>

{% include 'partials/footer.html' %}

<script async src="/js/main.js"></script>
