---
import Layout from "@layouts/default";

const content = {
	title: "Feedback | Amy Kapernick",
	description: "Thanks for providing feedback, hope you enjoyed the talk",
};
---
<style>
	@import '@mixins';

	article {
		@include landing;
	}
</style>

<Layout content={content} header="reduced">
	<article>
		<h1>Thank You</h1>

		<p>Thanks for providing feedback, hope you enjoyed the talk!</p>
	</article>
</Layout>
