---
permalink: /js/main.js
---
const slugify = (string) => string.toLowerCase().replace(' ', '-')

console.log('running script 3')

if (typeof document !== 'undefined') {
	console.log('running script 2')
	const section = document.querySelector('#where')

	console.log('running script')

	if(section) {

		const location = section.querySelector('.location')
		const conference = section.querySelector('.conference')
		const trips = section.querySelector('.trips')
		const conferences = section.querySelector('.conferences')

		fetch('{{env.api}}/events')
			.then(res => res.json())
			.then(res => {
				if(res.length) {
					conferences.innerHTML = '<ul></ul>'

					const conferenceList = conferences.querySelector('ul')
					const eventItems = res.map(({classes, name, start, end}) => (
						`<li>${name}: ${start}${end}</li>`
					))

					conferenceList.innerHTML = eventItems.join('')
				}
				else {
					conferences.innerHTML = `<p>Be right back, taking a much needed break</p>`
				}
			})

		fetch('{{env.api}}/travel')
			.then(res => res.json())
			.then(res => {
				if(res.length) {
					trips.innerHTML = '<ul></ul>'

					const tripsList = trips.querySelector('ul'),
					tripItems = res.map(({classes, country, city, start, end}) => (
					`<li><img alt="" src="/img/countries/${classes}.svg" />${city}, ${country}: ${start}${end}</li>`
					))

					tripsList.innerHTML = tripItems.join('')
				}
				else {
					trips.innerHTML = '<p>🤣, not any time soon</p>'
				}
			})

		fetch('{{env.api}}/current')
			.then(res => res.json())
			.then(res => {
				location.innerHTML = `<img alt="" src="/img/countries/${slugify(res.country)}.svg" /> ${res.city}, ${res.country}`
				conference.innerHTML = res.conference
				conference.classList.add(res.confClasses)
			})
	}

	
}

