---
import Layout from "@layouts/default";
import IntroSection from '@partials/intro'
import Excerpt from "@parts/talk/excerpt";
import { getCollection } from "astro:content";

const workshops = await getCollection('workshop')

const content = {
	title: "Workshops | Amy Kapernick",
	description:
		"I speak at conferences about front end development, the web, mental health and life. I also run in person and online workshops workshops for a more in-depth focus on front end tech, both internally and alongside other events.",
};
---

<style>
	@import '@mixins';

	article, section {
		@include section;
	}
</style>

<Layout content={content}>
	<h1 class="sr-only">Workshops</h1>
	<IntroSection>
		<p>I'm a <mark>Speaker</mark></p>
	</IntroSection>

	<section>
		<p>
			I am currently running a variety of workshops on front end tech,
			both in person and online.
		</p>
		<p>
			Want me to run a workshop at your company or event? The workshops
			I'm running are below, and you can <a href="/contact"
				>get in touch here</a
			>
		</p>
	</section>

	{
		workshops.map(async ({slug, data, render}) => {
			const { Content } = await render()
			return (
			<article>
				<h2>
					<a href={`/workshops/${slug}`}>
						{data.title}
					</a>
				</h2>
				<Excerpt>
					<Content />
				</Excerpt>
			</article>
		)})
	}
</Layout>
