---
import Layout from "../../layouts/default.astro";

const content = {
	title: "Pre-Workshop | Amy Kapernick",
	description: "A few questions to prepare for your upcoming workshop",
};
---

<Layout content={content}>
	<article class="landing">
		<h1>Thank You</h1>

		<p>Thanks for filling out the form, see you at the workshop!</p>
	</article>
</Layout>
