---
import Layout from "layouts/default";

const content = {
	title: "Workshop Feedback | Amy Kapernick",
	description: "Thanks for providing feedback, hope you enjoyed the workshop",
};
---

<Layout content={content}>
	<article class="landing">
		<h1>Thank You</h1>

		<p>Thanks for providing feedback, hope you enjoyed the workshop!</p>
	</article>
</Layout>
