---
import Layout from "../layouts/default.astro";

const content = {
	pageTitle: "Front End Web Fundamentals Workshop | Amy Kapernick",
	description:
		"This hands on workshop covers modern front end fundamentals, enabling you to create a layout and components without the need for any third party code.",
};
---

<Layout content={content}>
	<article class="content">
		<h1>Front End Web Fundamentals</h1>
		<p>
			Where is the border between frontend and backend web development?
			Yeah, exactly. It is becoming increasingly common for developers to
			work in both areas, yet only have the skillset for one. This often
			results in relying on third party frameworks or components like
			Bootstrap to pull a layout together, further weighing down the
			application with unnecessary code libraries and resulting technical
			debt.
		</p>
		<p>
			This hands on workshop covers modern front end fundamentals,
			enabling you to create a layout and components without the need for
			any third party code. You learn core accessibility concepts to make
			your project more accessible without having to write complex code,
			take shortcuts or deal with browser specific implementations.
		</p>
		<p>
			Once that is done, we then move on to testing our application,
			making sure that our accessibility improvements are there, watching
			for any unintended changes and making sure that the application
			works as it's supposed to. Through automated tools that can be
			implemented as part of a deployment pipeline, to manual tools to
			check on the fly, there are plenty of options to ensure the front
			end is being tested as thoroughly as the back end.
		</p>
		<p>
			After the tests are written, we'll then integrate them as part of an
			approval and deployment pipeline. Automating the tests for pull
			requests, running through GitHub actions and ensuring that code is
			fully tested before it reaches the production branch of your repo.
		</p>
		<h2>Topics</h2>
		<ul>
			<li>Semantic HTML</li>
			<li>Accessibility</li>
			<li>CSS Layouts</li>
			<li>Modern CSS</li>
			<li>Accessibility Testing (automated and manual tests)</li>
			<li>Visual Regression Testing</li>
			<li>UI Testing</li>
			<li>Setting up an automated testing pipeline</li>
		</ul>
		<h2>Tools</h2>
		<p>
			This workshop involves using various testing tools, and involves
			getting started with the tools from the beginning without any prior
			experience. Where possible, open source tools are used.
		</p>
		<ul>
			<li>Accessibility Testing: aXe and Pa11y</li>
			<li>Visual Regression Testing: Percy</li>
			<li>UI Testing: Playwright</li>
			<li>Automating tests: GitHub Actions</li>
		</ul>
		<h2>Who Should Attend</h2>
		<p>
			This workshop is aimed at anyone who works with front end code on a
			regular basis and needs to keep up to date with the constantly
			changing world of front end development. Even if you're just
			brushing up on your skills, this is the workshop for you.
		</p>
		<h2>Pre-requisites</h2>
		<p>
			Some experience with front end code desirable, a basic understanding
			of HTML and CSS as fundamental concepts won't be covered. Some
			experience with JavaScript is also useful as the tests will be
			written in JavaScript.
		</p>

		<h2>Workshop Details</h2>
		<p>
			The next upcoming workshop will be on the 22nd and 23rd May, in
			person as part of NDC Oslo. Each day will run from 9am to ~5pm, with
			a morning and afternoon tea, as well as a lunch break.
		</p>
		<p>
			Lunch will be provided and there will be tea and coffee making
			facilities avaialable. Snacks will also be provided but feel free to
			bring your own to help your brain keep going!
		</p>
		<h3>Pricing</h3>
		<p>
			Tickets can be purchased through <a
				href="https://ndcoslo.com/workshops/front-end-web-fundamentals/2e2f93162bc3"
				target="_blank">NDC Oslo</a
			>, either to the workshop alone or to the workshop and conference.
		</p>
		<p>
			If these dates don't work for you, or if you'd like your whole team
			to attend the workshop, I also run dedicated internal training
			events, so lets chat!
		</p>

		<h2>Secure your spot</h2>
		<p>
			Don't want to miss out on all the front end fun(damentals)? <a
				href="https://ndcoslo.com/workshops/front-end-web-fundamentals/2e2f93162bc3"
				target="_blank">Book your ticket</a
			> now.
		</p>
		<p>
			If you can't make these dates, <a href="/contact">get in touch</a> and
			we'll let you know when we book in another workshop and give you first
			dibs at the tickets.
		</p>

		<h2>Still not convinced?</h2>
		<p>
			If you're still not sure, check out these testimonials from previous
			workshop participants:
		</p>
		<blockquote class="testimonial">
			<p>
				I attended Amy's CSS workshop, after having seen her speak at
				NDC London. After only a few hours I already had a much better
				understanding of modern CSS principles (it isn't all !important
				tags apparently) and I can now put together a robust CSS
				framework for my web development. Thanks Amy.
			</p>
		</blockquote>
		<blockquote class="testimonial">
			<p>
				You don't know what you don't know this workshop really opened
				my eyes to the amount of accessibility we dismiss on the daily.
				Leant some useful tools and techniques to keep future work
				accessible for all.
			</p>
		</blockquote>
		<blockquote class="testimonial">
			<p>
				Really great workshop. As someone who isn't the biggest fan of
				frontend development, this workshop really made me appreciate
				how easy it could be to design not only responsive layouts
				without a css framework, but also make them accessible as well
				which is something I always overlook.
			</p>
		</blockquote>
	</article>
</Layout>
