---
import Layout from "@layouts/default";
import SVG from "@parts/svg";
import EventsTravelFeed from "@parts/eventsTravelFeed";
import Section from '@parts/section'
import IntroSection from '@partials/intro'

const content = {
	title: "Amy Kapernick",
	description:
		"Amy is a freelance developer, who spends her time volunteering at various community events in Perth, works as an evangelist for YOW! and is a Twilio Champion and Microsoft MVP. In her spare time she blogs about tech, the web and life and speaks at various conferences all over the world.",
};
---

<style>
	.intro {
		position: relative;
		margin-bottom: 50px;
		padding: 0 20px;
		font-size: 1.5em;
		font-weight: 700;
		text-transform: uppercase;
	}

	mark {
		background: none;
		color: $purple_dark;
	}

	blockquote {
		max-width: 400px;
		margin: 20px auto;
	}

	.image {
		position: relative;
		max-width: 400px;
		margin: 0 auto;
		padding: 0 20px 50px;

		& .blob_2 {
			display: block;
			position: absolute;
			z-index: -1;
			right: -20px;
			bottom: 0;
			width: 120%;
			transform: rotate(-50deg);
			color: $yellow;
		}
	}

	.blob_small {
		display: none;
		position: absolute;
		right: -50px;
		bottom: -50px;
		width: 100px;
		color: $pink;
	}

	.options {
		min-height: 3em;
		color: $purple_dark;

		& li {
			&.an {
				&:before {
					color: $neutral;
				}
			}
		}
	}

	.image_blob {
		transform: scaleX(-1);

		& path {
			color: $purple;
		}

		& image {
			width: 100%;
			height: 100%;
			margin-bottom: -10%;
			clip-path: url('#_ImageBlobHeader');
		}
	}

	@media(min-width: 40em) {
		.intro {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 20px;

			
		}

		blockquote {
			flex: 0 0 auto;
			width: 300px;
			margin: 0;
			text-align: right;
		}

		.rotate {
			width: auto;
			margin-left: auto;

			.options {
				text-align: left;
			}
		}

		.image {
			flex: 1 1 30vw;
			max-width: 500px;
			margin: 0;
			margin-left: 50px;

			svg {
				max-width: unset;
			}

			.blob_2 {
				right: auto;
				left: 0;
			}
		}

		.blob_small {
			display: block;
		}

		@supports(grid-template-areas: '.') {
			.rotate {
				justify-content: end;
			}
		}
	}

	@media(min-width: 60em) {
		.intro {
			margin-top: -100px;
			margin-bottom: 0;
			padding: 50px 5vw;
			font-size: 2em;

			
		}

		blockquote {
			width: 400px;
		}

		.image {
			.blob_2 {
				bottom: -50px;
			}
		}

		.blob_small {
			right: -25px;
		}
	}

	@media(min-width: 70em) {
		.intro {
			padding: 50px 10vw 0;
		}
	}

	@media(min-width: 80em) {
		.intro {
			width: 90vw;
			max-width: 1300px;
			margin-right: auto;
			margin-left: auto;
			padding: 50px 50px 100px;
			font-size: 2.5em;
		}

		blockquote {
			width: 500px;
		}

		.image {
			margin-left: 100px;
		}

		.blob_small {
			right: calc(-5vw - 10px);
		}
	}
</style>

<Layout content={content}>
	<IntroSection />

	<Section graphic="graphics/development.svg">
		<div class="content">
			<p>I help businesses get online, and stay online.</p>
			<p>
				At AimHigher we build modern & professional websites purpose
				made to be easily maintained by anyone, regardless of technical
				skill.
			</p>
			<ul class="icons">
				<li>
					<a
						href="https://aimhigherweb.design"
						target="_blank"
						rel="nofollow"
					>
						<SVG name="icons/aimhigher.svg" />
						<span>AimHigher Web</span>
					</a>
				</li>
			</ul>
		</div>
		<SVG name="graphics/heart.svg" class="heart" />
	</Section>

	<Section graphic="graphics/conference.svg">
		<div class="content">
			<p>
				I <a href="/talks">speak at conferences</a> about front end development,
				the web, mental health and life.
			</p>
			<p>
				I also run in person and online <a href="/workshops"
					>workshops</a
				> for a more in-depth focus on front end tech, both internally and
				alongside other events.
			</p>
			<ul class="icons">
				<li>
					<a
						href="https://speaking.amyskapers.dev"
						target="_blank"
						rel="nofollow"
					>
						<SVG name="icons/notist.svg" />
						<span>Notist</span>
					</a>
				</li>
			</ul>
		</div>
	</Section>

	<Section graphic="graphics/coding.svg">
		<div class="content">
			<p>
				I mentor at events, helping more girls and women get involved in
				tech. This includes She Codes (formerly Perth Web Girls) and
				Muses Code JS (formerly NodeGirls).
			</p>
			<ul class="icons">
				<li>
					<a
						href="https://techoutsiders.com.au/amy-kapernick/"
						target="_blank"
						rel="nofollow"
					>
						<SVG name="icons/techoutsiders.svg" />
						<span>Tech Outsiders</span>
					</a>
				</li>
				<li>
					<a
						href="https://musescodejs.org/perth.html"
						target="_blank"
						rel="nofollow"
					>
						<SVG name="icons/musesjs.svg" />
						<span>Muses Code JS</span>
					</a>
				</li>
				<li>
					<a
						href="https://shecodes.com.au/"
						target="_blank"
						rel="nofollow"
					>
						<SVG name="icons/shecodes.svg" />
						<span>She Codes</span>
					</a>
				</li>
			</ul>
		</div>
	</Section>

	<Section>
		<SVG name="graphics/blob_background.svg" class="blob_background" />
		<SVG name="graphics/leaf_thin.svg" class="leaf_thin" />
		<SVG name="graphics/dots.svg" class="dots" />

		<Section graphic="graphics/blog.svg">
			<div class="content">
				<p>
					I write blog posts. Sometimes I blog about tech, sometimes
					about the web, sometimes about life.
				</p>
				<ul class="icons">
					<li>
						<a
							href="https://amygoestoperth.com.au"
							target="_blank"
							rel="nofollow"
						>
							<SVG name="icons/blog.svg" />
							<span>Amy's Kapers</span>
						</a>
					</li>
				</ul>
			</div>
		</Section>

		<Section graphic="graphics/office_team.svg">
			<div class="content">
				<p>
					I'm a Microsoft MVP. This means I do a lot of work in my
					community and sharing what I've learnt in conference talks
					and blog posts.
				</p>
				<ul class="icons">
					<li>
						<a
							href="https://mvp.microsoft.com/en-us/publicprofile/5003595"
							target="_blank"
							rel="nofollow"
						>
							<SVG name="icons/mvp.svg" />
							<span>Microsoft MVPs</span>
						</a>
					</li>
				</ul>
			</div>
		</Section>

		<Section graphic="graphics/community.svg">
			<div class="content">
				<p>
					I'm a Twilio Champion. This means I help Twilio to build
					better communities.
				</p>
				<ul class="icons">
					<li>
						<a
							href="https://www.twilio.com/champions"
							target="_blank"
							rel="nofollow"
						>
							<SVG name="icons/twilio.svg" />
							<span>Twilio Champions</span>
						</a>
					</li>
				</ul>
			</div>
		</Section>

		<SVG name="graphics/blob.svg" />
		<SVG name="graphics/flower_2.svg" class="flower" />
	</Section>

	<Section graphic="graphics/writing.svg">
		<div class="content">
			<p>
				Sometimes I write interesting things on socials, but mostly it's
				just pictures of my dog.
			</p>
			<ul class="icons">
				<li>
					<a
						href="https://twitter.com/amys_kapers"
						target="_blank me"
						rel="nofollow"
					>
						<SVG name="icons/twitter.svg" />
						<span>Twitter</span>
					</a>
				</li>
				<li>
					<a
						href="https://www.instagram.com/amys_kapers/"
						target="_blank me"
						rel="nofollow"
					>
						<SVG name="icons/instagram.svg" />
						<span>Instagram</span>
					</a>
				</li>
				<li>
					<a
						href="https://github.com/amykapernick"
						target="_blank me"
						rel="nofollow"
					>
						<SVG name="icons/github.svg" />
						<span>GitHub</span>
					</a>
				</li>
				<li>
					<a
						href="https://codepen.io/amys_kapers"
						target="_blank me"
						rel="nofollow"
					>
						<SVG name="icons/codepen.svg" />
						<span>Codepen</span>
					</a>
				</li>
				<li>
					<a
						href="https://www.linkedin.com/in/amykapernick"
						target="_blank"
						rel="nofollow me"
					>
						<SVG name="icons/linkedin.svg" />
						<span>LinkedIn</span>
					</a>
				</li>
				<li>
					<a
						href="https://aus.social/@amyskapers"
						target="_blank"
						rel="nofollow me"
					>
						<SVG name="icons/mastodon.svg" />
						<span>Mastodon</span>
					</a>
				</li>
			</ul>
		</div>
	</Section>

	<Section graphic="graphics/team.svg">
		<div class="content">
			<p>
				I'm on the committee for DDD Perth as Vice-Chair and Director of
				Conference Content. We're the biggest tech conference in
				Australia, not-for-profit and entirely volunteer run.
			</p>
			<p>
				In this role, I plan and run workshops for writing talk
				proposals, help build out the final agenda, mentor and run
				training for any speakers that need an extra hand or want
				feedback on their presentations before the big day.
			</p>
			<ul class="icons">
				<li>
					<a
						href="https://dddperth.com/"
						target="_blank"
						rel="nofollow"
					>
						<SVG name="icons/dddperth.svg" />
						<span>DDD Perth</span>
					</a>
				</li>
			</ul>
		</div>
	</Section>

	<SVG name="graphics/flower.svg" class="flower" />

	<Section class="special">
		<div class="graphic image">
			<SVG name="graphics/image_blob.svg" />
			<SVG name="graphics/paw.svg" class="paw" />
			<SVG name="graphics/blob.svg" />
		</div>
		<p>
			I have a grey and white border collie who likes long walks on the
			beach and snuggling on the couch.
		</p>
	</Section>

	<EventsTravelFeed />
</Layout>
