---
import Layout from "../layouts/default.astro";

const content = {
	pageTitle: "Get in Touch | Amy Kapernick",
	description: "Thanks for getting in touch.",
};
---

<Layout content={content}>
	<article class="landing">
		<h1>Thank You</h1>

		<p>Thanks for getting in touch, I'll get back to you shortly.</p>
	</article>
</Layout>
