<footer id="where">
	<h2>Where is Amy?</h2>
	<p>Right now Amy is in <span class="location"></span>
		<span class="conference"></span></p>
	<h3>Coming Up Next</h3>
	<h4>Trips</h4>
	<ul class="trips"></ul>
	<h4>Conferences</h4>
	<ul class="conferences"></ul>
</footer>