@use '../variables.scss' as var;

form {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 20px;
	background: var.$background;
	text-align: left;

	@media(min-width: 40em) {
		margin: 0 auto;
		padding: 50px;
	}

	@media(min-width: 60em) {
		padding: 100px;
		border-width: 10px;
	}
}

label, legend {
	display: block;
	min-width: 100px;
	margin: 40px 0 16px;
	font-family: var.$font_main;
	font-weight: 600;
	letter-spacing: 0.1em;
	text-transform: uppercase;

	&[required] {
		&:after {
			content: '*';
			margin-left: 1ch;
		}
	}

	@media(min-width: 60em) {
		min-width: 120px;
	}
}

legend {
	width: 100%;
}

input, textarea, select {
	display: block;
	flex: 1 1 100%;
	margin: 0;
	padding: 5px 25px;
	border: 2px solid var.$darkpurple_light_50;
	background: var.$darkpurple_light_50;
	color: var.$neutral;
	font-size: 1em;

	&::placeholder {
		color: #0d0d0d;
		font-style: italic;
	}

	&[type='password'] {
		&::-ms-reveal {
			display: none;
		}
	}

	&:invalid {
		box-shadow: none;

		&:focus {
			border-color: var.$orange;
		}
	}

	&:valid {
		&[required] {
			border-color: var.$green;
		}
	}

	&[type='checkbox'], &[type='radio'] {
		position: absolute;
		z-index: -100;
		opacity: 0;

		&:checked {
			+ label {
				&:after {
					content: '';
				}
			}
		}

		&:focus {
			+ label {
				outline: 3px solid var.$yellow;
			}
		}

		& + label {
			display: flex;
			position: relative;
			align-items: center;
			width: 100%;
			margin: 26px 10px;
			font-style: italic;
			font-weight: 400;
			text-transform: none;
			cursor: pointer;

			&:before, &:after {
				display: block;
				flex: 0 0 auto;
			}

			&:before {
				content: '';
				width: 20px;
				height: 20px;
				margin-right: 1ch;
				border: 2px solid var.$darkpurple;
				background: var.$darkpurple;
			}

			&:after {
				position: absolute;
				left: 3px;
				color: var.$neutral;
				font-size: 1.3em;
			}

			@media(min-width: 60em) {
				&:before {
					width: 25px;
					height: 25px;
				}
			}

			@media(min-width: 90em) {
				&:after {
					font-size: 1.1em;
				}
			}
		}
	}

	&[type='checkbox'] {
		&:checked {
			+ label {
				&:after {
					content: '✓';
				}
			}
		}
	}

	&[type='radio'] {
		& + label {
			&:before, &:after {
				border-radius: 50%;
			}

			&:after {
				left: 2.5px;
				width: 14px;
				height: 14px;
				background: #ffffff;
			}

			@media(min-width: 60em) {
				&:after {
					left: 5px;
					width: 16px;
					height: 17px;
				}
			}
		}
	}
}

textarea {
	flex-basis: 100%;
	min-height: 8em;
	margin-top: 0;
	padding: 15px 25px;
}

fieldset {
	width: 100%;
	padding: 0;
	border: none;

	> div {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px -26px;

		label {
			flex: 1 1 auto;
			margin-top: 0;
		}
	}

	@media(min-width: 40em) {
		> div {
			label {
				flex-basis: auto;
				flex-grow: 0;
				width: auto;

				&.long {
					flex-basis: 100%;
				}
			}

			input[type='radio'], input[type='checkbox'] {
				+ label {
					width: auto;
				}
			}

			&.long {
				label {
					flex-basis: 100%;
				}
			}
		}
	}
}

button {
	margin-top: 40px;
	padding: 0.6em 1em 0.5em;
	border: none;
	border: 4px solid var.$darkpurple;
	background: var.$darkpurple;
	color: #ffffff;
	font-size: 1.25em;
	font-weight: 700;
	line-height: 1;
	text-transform: uppercase;

	&:hover {
		border-color: var.$darkpurple;
		background: #ffffff;
		color: var.$darkpurple;
	}

	@media(min-width: 60em) {
		margin-top: 80px;
	}
}
