---
import SVG from "../parts/svg.astro";
---

<footer>
	<div class="background"><SVG name="graphics/blob_hexagon.svg" /></div>
	<p>
		Designed by <a
			href="https://www.instagram.com/fernanddandy"
			target="_blank"
			rel="nofollow">Fern and Dandy</a
		>, built by <a href="/">Amy</a>.
	</p>
	<div class="graphic">
		<SVG name="graphics/leaf.svg" />
	</div>
</footer>
