---
import SVG from "../parts/svg.astro";
---

<header>
	<SVG name="graphics/blob_hexagon.svg" />

	<span class="blob_left">
		<SVG name="graphics/blob_2.svg" />
	</span>

	<span class="blob_right">
		<SVG name="graphics/blob_2.svg" />
	</span>

	<SVG name="graphics/squiggle.svg" />

	<SVG name="graphics/paw.svg" />

	<a href="/"><SVG name="logo.svg" /></a>
</header>
