---
import SVG from "../parts/svg.astro";
import Graphic from '../parts/graphic.astro'
---

<style>
	header {
		display: flex;
		position: relative;
		justify-content: center;
		padding: 20px 20px 50px;

		& :global(.cls-1) {
			fill: $neutral;
		}
	}

	.logo {
		width: 80vw;
		max-width: 800px;
	}

	.hexagon {
		position: absolute;
		z-index: -1;
		bottom: 0;
		width: 120vw;
		color: $background;
	}

	.blob,
	.squiggle,
	.paw {
		display: none;
	}

	.blob {
		&.left {
			color: $pink;
		}

		&.right {
			color: $green;
		}
	}

	.squiggle {
		color: $yellow;
	}

	.paw {
		color: $purple;
	}

	.reduced {
		& .logo {
			max-width: 450px;
		}
	}

	@media(min-width: 60em) {
		header {
			padding: 150px 50px;
		}

		.logo {
			width: 60vw;
		}

		.hexagon {
			width: 150vw;
		}

		.blob,
		.squiggle,
		.paw {
			display: block;
			position: absolute;
		}

		.blob {
			&.left {
				top: 70px;
				left: -200px;
				width: 400px;
				transform: rotate(-80deg);
			}

			&.right {
				top: -50px;
				right: -50px;
				width: 350px;
			}
		}

		.squiggle {
			top: 200px;
			right: 0;
			width: 200px;
		}

		.paw {
			bottom: 50px;
			left: 20px;
			width: 100px;
		}

		.reduced {
			padding: 100px 50px;

			& .logo {
				max-width: 500px;
			}

			& .blob,
			& .squiggle,
			& .paw {
				display: none;
			}
		}
	}

	@media(min-width: 70em) {
		.reduced {
			margin-bottom: 50px;
		}
	}

	@media(min-width: 75em) {
		header {
			padding: 170px 50px;
		}

		.blob {
			&.left {
				top: 100px;
				left: -300px;
				width: 600px;
			}

			&.right {
				top: -40px;
				right: -60px;
				width: 400px;
			}
		}

		.squiggle {
			top: 300px;
			right: -10px;
			width: 250px;
		}

		.paw {
			bottom: 100px;
		}
	}

	@media(min-width: 80em) {
		.reduced {
			margin-bottom: 100px;
			padding: 100px 50px 150px;

			& .logo {
				max-width: 600px;
			}
		}
	}


</style>

<header class={Astro.props?.size || ''}>
	<Graphic name="graphics/blob_hexagon.svg" class="hexagon" />

	<Graphic name="graphics/blob_2.svg" class="blob left" />

	<Graphic name="graphics/blob_2.svg" class="blob right" />

	<Graphic name="graphics/squiggle.svg" class="squiggle" />

	<Graphic name="graphics/paw.svg" class="paw" />

	<a href="/"><Graphic name="logo.svg" class="logo" /></a>
</header>
