---
permalink: /booking-confirmation/index.html
---
{% set pagetitle = "Front End Web Fundamentals Workshop | Amy Kapernick" %}
{% set description = "This hands-on workshop covers modern front end fundamentals, enabling you to create a layout and components without the need for any third party code." %}
{% extends 'layouts/main.njk' %}

{% block content %}

<article class="landing">
	<h1>Thank You</h1>

	<p>Thanks for reserving your ticket for the workshop, you'll receive an email shortly with payment info and other workshop details.</p>
	<p>Looking forward to seeing you at the workshop!</p>

</article>

{% endblock %}