---
permalink: /calendar/index.html
layout: layouts/calendar.njk
pagetitle: 'Calendar - Year in a View'
---

<div class="calendar">
	<h1>Calendar</h1>
	{% for year, days in calendarYears %}
	<div class="year y-{{year}}">
		<h2>{{year}}</h2>
		<div class="dates">
			{% for day in days %}
				<div data-monthName="{{day.monthName}}" data-day="{{day.day}}" style="--month: {{day.month}}; --offset: {{day.offset}};" class="date">
					<p>{{day.date}}</p>
				</div>
			{% endfor %}

			{% for event in events %}
				{% if event.year == year %}
					{% switch event.status %}
						{% case "cancelled" %}
							{% set icon = '❌' %}
						{% case "moved" %}
							{% set icon = '➡' %}
						{% case "online" %}
							{% set icon = '🌐' %}
					{% endswitch %}
					<div 
						class="event" 
						data-status="{{event.status}}" 
						style="--offset: {{event.offset}}; --length: {{event.length}}; --row: {{event.row}};--icon: '{{icon}}'"
					>
						{{icon}} {{event.name}}
					</div>
				{% endif %}
			{% endfor %}
			{% for trip in travel %}
				{% if trip.year == year %}
					<div 
						class="trip" 
						style="--offset: {{trip.offset}}; --length: {{trip.length}}; --row: {{trip.row}};"
					>
						{{trip.city}}, {{trip.country}}
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	{% endfor %}
	
</div>