---
permalink: /contact/index.html
---
{% set class = "header-reduced" %}
{% set pagetitle = "Get in Touch | Amy Kapernick" %}
{% set description = "Get in Touch with Amy" %}
{% set permalink = "/contact" %}
{% extends 'layouts/main.njk' %}

{% block content %}

<article class="content">
	<h1>Get in Touch</h1>
	<form id="contact" action="{{env.api}}{{env.formContact}}" method="post">
		<input type="hidden" name="redirect" value="/thanks" />
		<input type="hidden" name="page" value="{{permalink}}" />
		<label for="name">Name</label>
		<input type="text" name="name" id="name" required />
		<label for="email">Email Address</label>
		<input type="text" name="email" id="email" required />
		<label for="company">Company</label>
		<input type="text" name="company" id="company" />
		<fieldset>
			<div class="long">
				<legend>What are you looking for?</legend>
				<input type="radio" name="type" id="type_workshop" value="workshop" />
				<label for="type_workshop">Workshop</label>
				<input type="radio" name="type" id="type_talk" value="talk" />
				<label for="type_talk">Talk</label>
				<input type="radio" name="type" id="type_other" value="other" />
				<label for="type_other">Something Else</label>
			</div>
		</fieldset>
		<label for="message">Message</label>
		<textarea name="message" id="message"></textarea>

		<button type="submit">Submit</button>
	</form>

</article>

{% endblock %}