---
permalink: /front-end-fundamentals-workshop/index.html
---
{% set class = "header-reduced" %}
{% set pagetitle = "Front End Web Fundamentals Workshop | Amy Kapernick" %}
{% set description = "This hands on workshop covers modern front end fundamentals, enabling you to create a layout and components without the need for any third party code." %}
{% set permalink = "/front-end-fundamentals-workshop" %}
{% extends 'layouts/main.njk' %}

{% block content %}

<article class="content">
	<h1>Front End Web Fundamentals</h1>
	<p>Where is the border between frontend and backend web development? Yeah, exactly. It is becoming increasingly common for developers to work in both areas, yet only have the skillset for one. This often results in relying on third party frameworks or components like Bootstrap to pull a layout together, further weighing down the application with unnecessary code libraries and resulting technical debt.</p>
	<p>This hands on workshop covers modern front end fundamentals, enabling you to create a layout and components without the need for any third party code. You learn core accessibility concepts to make your project more accessible without having to write complex code, take shortcuts or deal with browser specific implementations.</p>
	<p>Once that is done, we then move on to testing our application, making sure that our accessibility improvements are there, watching for any unintended changes and making sure that the application works as it's supposed to. Through automated tools that can be implemented as part of a deployment pipeline, to manual tools to check on the fly, there are plenty of options to ensure the front end is being tested as thoroughly as the back end.</p>
	<h2>Topics</h2>
	<ul>
		<li>CSS Layouts</li>
		<li>Semantic HTML</li>
		<li>Modern CSS</li>
		<li>Accessibility Testing</li>
		<li>Visual Regression Testing</li>
		<li>UI Testing</li>
	</ul>
	<h2>Who Should Attend</h2>
	<p>This workshop is aimed at anyone who works with front end code on a regular basis and needs to keep up to date with the constantly changing world of front end development. Even if you're just brushing up on your skills, this is the workshop for you.</p>
	<h2>Pre-requisites</h2>
	<p>Some experience with front end code desirable, a basic understanding of HTML and CSS. Some experience with JavaScript is also useful, but not essential.</p>
{# 
	<h2>Workshop Details</h2>
	<p>The workshop will be run on the 26th and 27th July, 2021, in person in the Brisbane CBD. Each day will run from 9am to ~5pm, with a 45min lunch break (as well as a morning and afternoon tea break).</p>
	<p>Lunch will be provided, and there are tea and coffee making facilities available. Snacks will also be provided but feel free to bring your own to help your brain keep going!</p> #}
	{# <h3>Pricing</h3>
	<p>There are one or two day tickets available. There are also discounts available for multiple ticket purchases.</p>
	<ul>
		<li>2 days - $1200</li>
		<li>1 day - $650</li>
	</ul>
	<p>If purchasing more than 5 tickets, let us know and we can discuss a bulk purchase for your team. I also run dedicated training events for your team, so lets chat!</p> #}

	
	<h2>Workshop Details</h2>
	<p>The next upcoming workshop will be on the 20th and 21st June, in person as part of NDC Melbourne. Each day will run from 9am to ~5pm, with a morning and afternoon tea, as well as a lunch break.</p>
	<p>Lunch will be provided and there will be tea and coffee making facilities avaialable. Snacks will also be provided but feel free to bring your own to help your brain keep going!</p>
	<h3>Pricing</h3>
	<p>Tickets can be purchased through <a href="https://ndcmelbourne.com/workshops/front-end-web-fundamentals/da60b3c82051" target="_blank">NDC Melbourne</a>, either to the workshop alone or to the workshop and conference.</p>
	<p>If these dates don't work for you, or if you'd like your whole team to attend the workshop, I also run dedicated internal training events, so lets chat!</p>

	<h2>Secure your spot</h2>
	<p>Don't want to miss out on all the front end fun(damentals)? <a href="https://ndcmelbourne.com/workshops/front-end-web-fundamentals/da60b3c82051" target="_blank">Book your ticket</a> now.</p>
	<p>If you can't make these dates, <a href="/contact">get in touch</a> and we'll let you know when we book in another workshop and give you first dibs at the tickets.</p>
	{# <h2 id="terms">Booking Terms</h2>
	<p>Payment is required to secure your spot, with preference offered on a first-come first-served basis.</p>
	<p>If cancelling more than 30 days before the event, 100% of the ticket price (less any payment fees) will be refunded. If cancelling more than 14 days before the event, 75% of the ticket price will be refunded. If cancelling more than 7 days before the event, 50% of the ticket price will be refunded. Any cancellations 7 days or less before the event will not receive a refund.</p>
	<p>If at any time before the event you are unable to attend, your ticket can be transferred to another person, at no charge.</p>
	<p>When arriving at this workshop, you will be asked to agree to the COVID restrictions, and will inform us if you:</p>
	<ul>
		<li>Have travelled out of the state within the last 14 days</li>
		<li>Have come into contact with anyone who has travelled outside of the state within the last 14 days</li>
		<li>Have experienced any cold/flu like symptoms in the last 14 days or are feeling unwell</li>
		<li>Have come into contact with anyone who has tested positive to COVID in the last 14 days</li>
	</ul> #}

</article>

{% endblock %}