---
permalink: /talks/index.html
---
{% set pagetitle = "Talks | Amy Kapernick" %}
{% set description = "I speak at conferences about front end development, the web, mental health and life. I also run in person and online workshops workshops for a more indepth focus on front end tech, both internally and alongside other events." %}
{% extends 'layouts/main.njk' %}

{% block content %}

<h1 class="sr-only">Talks</h1>

<section class="intro_section">
	<blockquote>
		<p>Hi, I'm Amy</p>

		<div class="rotate">
			<p>I'm a <mark>Speaker</mark></p>
		</div>
	</blockquote>
	<div class="image">
		{% svg 'graphics/image_blob_2' %}
		{% svg 'graphics/blob_2' %}
	</div>
	{% svg 'graphics/blob_small' %}
</section>

<section>
	<p>I am currently giving a variety of talks about the front end of the web, and mental health.</p>
	<p>Want me to speak at your event? The talks I've given recently are below, and you can <a href="/contact">get in touch here</a>.
	</p>
	<p>Looking for something more in-depth? I also run various <a href="/workshops">workshops</a> on front end tech, both in-person and online.</p>
</section>

{% for talk in collections.talks %}

<article>
	<h2 id={{ talk.url }}>{{talk.data.title}}</h2>
	{{ talk.templateContent | safe }}

	<details class="past-talks">
		<summary>Previous Presentations</summary>
		{% filterTalks talk.data.title, notist.events.past %}
	</details>
</article>

{% endfor %}

{% endblock %}