---
permalink: /see-you-there/index.html
---
{% set pagetitle = "Front End Web Fundamentals Workshop | Amy Kapernick" %}
{% set description = "A few questions to prepare for your upcoming workshop" %}
{% extends 'layouts/main.njk' %}

{% block content %}

<article class="landing">
	<h1>Thank You</h1>

	<p>Thanks for filling out the form, hope you enjoyed the workshop!</p>

</article>

{% endblock %}