---
permalink: /thanks/index.html
---
{% set pagetitle = "Get in Touch | Amy Kapernick" %}
{% set description = "Get in touch with Amy" %}
{% extends 'layouts/main.njk' %}

{% block content %}

<article class="landing">
	<h1>Thank You</h1>

	<p>Thanks for getting in touch, I'll get back to you shortly.</p>

</article>

{% endblock %}