@use '../variables.scss' as var;

.content {
	h1 {
		text-align: center;
	}
}

article.content {
	margin-bottom: 100px;
}

@media(min-width: 40em) {
	article.content {
		margin-bottom: 150px;
	}
}

@media(min-width: 60em) {
	.content {
		h1 {
			margin-bottom: 1em;
			font-size: 2.5em;
			text-decoration: underline;
			text-decoration-color: var.$pink;
			text-decoration-style: wavy;
			text-underline-offset: 0.4em;
			text-decoration-thickness: 5px;
			text-decoration-skip-ink: none;
		}
	}
}

@media(min-width: 80em) {
	.content {
		margin-bottom: 300px;

		h1 {
			margin-bottom: 1.5em;
			font-size: 3.5em;
			text-decoration-thickness: 8px;
		}
	}

	article.content {
		margin-bottom: 300px;
	}
}
