@use '../variables.scss' as var;

header {
	display: flex;
	position: relative;
	justify-content: center;
	padding: 20px 20px 50px;

	.cls-1 {
		fill: var.$neutral;
	}

	.logo {
		width: 80vw;
		max-width: 800px;
	}

	.hexagon {
		position: absolute;
		z-index: -1;
		bottom: 0;
		width: 120vw;
		color: var.$background;
	}

	.blob_2, .squiggle, .paw {
		display: none;
	}

	.blob_left {
		svg {
			color: var.$pink;
		}
	}

	.blob_right {
		svg {
			color: var.$green;
		}
	}

	.squiggle {
		color: var.$yellow;
	}

	.paw {
		color: var.$purple;
	}
}

.intro_section {
	position: relative;
	margin-bottom: 50px;
	padding: 0 20px;
	font-size: 1.5em;
	font-weight: 700;
	text-transform: uppercase;

	mark {
		background: none;
		color: var.$darkpurple;
	}

	.options {
		min-height: 3em;
		color: var.$darkpurple;

		li {
			&.an {
				&:before {
					color: var.$neutral;
				}
			}
		}
	}

	.image_blob {
		transform: scaleX(-1);

		path {
			color: var.$purple;
		}

		image {
			width: 100%;
			height: 100%;
			margin-bottom: -10%;
			clip-path: url('#_ImageBlobHeader');
		}
	}

	blockquote {
		max-width: 400px;
		margin: 20px auto;
	}

	.image {
		position: relative;
		max-width: 400px;
		margin: 0 auto;
		padding: 0 20px 50px;

		.blob_2 {
			display: block;
			position: absolute;
			z-index: -1;
			right: -20px;
			bottom: 0;
			width: 120%;
			transform: rotate(-50deg);
			color: var.$yellow;
		}
	}

	.blob_small {
		display: none;
		position: absolute;
		right: -50px;
		bottom: -50px;
		width: 100px;
		color: var.$pink;
	}
}

@media(min-width: 40em) {
	.intro_section {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px;

		blockquote {
			flex: 0 0 auto;
			width: 300px;
			margin: 0;
			text-align: right;
		}

		.rotate {
			width: auto;
			margin-left: auto;

			.options {
				text-align: left;
			}
		}

		.image {
			flex: 1 1 30vw;
			max-width: 500px;
			margin: 0;
			margin-left: 50px;

			svg {
				max-width: unset;
			}

			.blob_2 {
				right: auto;
				left: 0;
			}
		}

		.blob_small {
			display: block;
		}

		@supports(grid-template-areas: '.') {
			.rotate {
				justify-content: end;
			}
		}
	}
}

@media(min-width: 60em) {
	header {
		padding: 150px 50px;

		.logo {
			width: 60vw;
		}

		.hexagon {
			width: 150vw;
		}

		.blob_2, .squiggle, .paw {
			display: block;
			position: absolute;
		}

		.blob_left {
			svg {
				top: 70px;
				left: -200px;
				width: 400px;
				transform: rotate(-80deg);
			}
		}

		.blob_right {
			svg {
				top: -50px;
				right: -50px;
				width: 350px;
			}
		}

		.squiggle {
			top: 200px;
			right: 0;
			width: 200px;
		}

		.paw {
			bottom: 50px;
			left: 20px;
			width: 100px;
		}
	}

	.intro_section {
		margin-top: -100px;
		margin-bottom: 0;
		padding: 50px 5vw;
		font-size: 2em;

		blockquote {
			width: 400px;
		}

		.image {
			.blob_2 {
				bottom: -50px;
			}
		}

		.blob_small {
			right: -25px;
		}
	}
}

@media(min-width: 70em) {
	.intro_section {
		padding: 50px 10vw 0;
	}
}

@media(min-width: 75em) {
	header {
		padding: 170px 50px;

		.blob_left {
			svg {
				top: 100px;
				left: -300px;
				width: 600px;
			}
		}

		.blob_right {
			svg {
				top: -40px;
				right: -60px;
				width: 400px;
			}
		}

		.squiggle {
			top: 300px;
			right: -10px;
			width: 250px;
		}

		.paw {
			bottom: 100px;
		}
	}
}

@media(min-width: 80em) {
	.intro_section {
		width: 90vw;
		max-width: 1300px;
		margin-right: auto;
		margin-left: auto;
		padding: 50px 50px 100px;
		font-size: 2.5em;

		blockquote {
			width: 500px;
		}

		.image {
			margin-left: 100px;
		}

		.blob_small {
			right: calc(-5vw - 10px);
		}
	}
}
