@use '../variables.scss' as var;

.where {
	display: flex;
	position: relative;
	z-index: 0;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-top: -30px;
	margin-bottom: -70px;
	padding-top: 80px;

	h2 {
		color: var.$darkpurple;
		font-size: 1.41em;
		font-weight: 700;
		text-transform: uppercase;
	}

	h4 {
		color: var.$navy;
		font-size: 1.41em;
		font-weight: 700;
		text-transform: uppercase;
	}

	.background {
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: -50px;
		margin: 0;
		overflow: hidden;
		transform: translateX(-25%);

		&:before {
			content: '';
			position: absolute;
			z-index: -5;
			top: 50%;
			right: 0;
			bottom: 0;
			left: 0;
			background: var.$background;
		}
	}

	.hexagon {
		display: block;
		position: static;
		width: 170vw;
		color: var.$background;
	}

	.squiggle {
		flex: 1 1 50%;
		max-width: 300px;
		color: var.$purple;
	}

	a {
		color: var.$green;

		&:hover {
			color: var.$purple;
		}
	}

	.arrow_blob {
		width: 100px;
		max-width: 140px;
		margin-left: 40px;
		color: inherit;

		.arrow {
			color: #ffffff;
		}
	}

	.summary {
		width: 100%;
		clear: both;
		overflow: hidden;

		.current,
		.location {
			display: flex;
			align-items: center;

			img {
				display: block;
				width: auto;
				height: 1em;
				margin-right: 1ch;
			}
		}

		.location {
			margin-left: 1ch;
		}
	}

	.upcoming {
		width: 100%;

		ul {
			padding: 0;

			li {
				display: flex;
				align-items: center;
				margin-bottom: 0.5em;
			}

			img {
				display: block;
				width: auto;
				height: 1em;
				margin-right: 1ch;
			}
		}

		a {
			display: flex;
			align-items: center;
			color: inherit;
			font-weight: inherit;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.globe {
		width: 100px;
		max-width: 170px;
		height: 100%;
		margin-right: 20px;
		float: left;
	}
}

@media(min-width: 40em) {
	.where {
		margin-bottom: -90px;

		.globe {
			width: 150px;
			margin-right: 40px;
		}

		.arrow_blob {
			width: 140px;
		}

		.squiggle {
			margin-left: 80px;
		}

		.background {
			top: -60px;
		}

		.upcoming {
			display: flex;
			position: relative;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-top: 20px;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 45%;
				border-left: 2px dotted var.$purple;
			}

			>* {
				width: 45%;
			}

			h4 {
				order: -1;
				margin: 0
			}
		}
	}
}

@media (min-width: 50em) {
	.where {
		.background {
			bottom: -100px;
			transform: translateX(-30%);
		}

		.squiggle {
			max-width: 400px;
		}

		.hexagon {
			width: 200vw;
		}
	}
}

@media(min-width: 70em) {
	.where {
		margin-top: 100px;

		.background {
			bottom: -110px;
		}

		.hexagon {
			width: 3000px;
		}

		.squiggle {
			max-width: 500px;
		}
	}
}

@media(min-width: 90em) {
	.where {
		.background {
			top: -150px;
			bottom: -213px;
		}
	}
}
