body {
	--primary: #{$blue};
	--secondary: #{$aqua};

	color: $grey_dark;
	font-family: 'Roboto Mono', monospace;

	@supports (display: subgrid) {
		display: grid;
		grid-template-columns: repeat(6, minmax(200px, 1fr));
		grid-column-gap: 30px;
		grid-row-gap: 100px;
		align-items: center;

		header,
		main {
			display: grid;
			grid-template-columns: subgrid;
		}

		section {
			grid-template-columns: subgrid;
		}
	}
}

header,
main,
footer {
	margin: 0 auto;
	padding: 0;
	width: 90vw;
	max-width: 1000px;
}

header,
section {
	display: grid;
	grid-column-gap: 30px;
	grid-row-gap: 50px;
	align-items: center;
}

header {
	grid-template-columns: 2fr 1fr;
	padding-top: 50px;

	blockquote {
		mix-blend-mode: hard-light;
		color: #000;
		font-size: 2.5em;
		margin-top: 75px;
	}
}

main {
	padding-top: 20vh;
}

section {
	margin-bottom: 100px;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	justify-items: center;
}

svg {
	max-height: 250px;
}

.background {
	// opacity: 0.8;
	max-height: unset;
	position: fixed;
	top: 0;
	height: 60vh;
	left: calc(-1 * (50vw - 50%));
	z-index: -1;
}

blockquote {
	font-size: 1.5em;
	margin: 0;
	text-align: center;

	p {
		mix-blend-mode: multiply;
		text-align: left;

		&:last-of-type {
			margin-bottom: 10px;
		}
	}
}

img {
	max-width: 100%;
}

a {
	border: 3px solid transparent;
	color: transparent;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 0;
	padding: 10px;

	svg,
	img {
		color: $grey_dark;
		height: 50px;
		width: auto;

		&.blend {
			mix-blend-mode: difference;
		}
	}

	&:active,
	&:hover,
	&:focus {
		background: rgba(255, 255, 255, 0.5);
		border-color: $blue;
	}
}

footer {
	h2,
	p,
	h3 {
		grid-column: 1 / -1;
		text-align: center;
	}

	h4 {
		grid-row: 4;
	}

	.trips {
	}

	@media (min-width: 500px) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(5, auto);
	}
}
