@import 'variables.scss';
@import 'rotate.scss';
@import '320.scss';

@media (min-width: 738px) {
	main {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-flow: dense;
		grid-column-gap: 30px;
		grid-row-gap: 100px;
		justify-items: center;
		align-items: center;

		blockquote {
			&:nth-of-type(2n) {
				grid-column: 1;
			}
		}

		svg {
			&:nth-of-type(2n) {
				grid-column: 2;
			}
		}
	}
}

@media (min-width: 1000px) {
	header {
		blockquote {
			margin-top: 0;
		}
	}
}
