@use '../variables.scss' as var;

section, article {
	z-index: 1;
	margin: 40px auto;
	padding: 0 20px;
	font-weight: 500;
}

@media(min-width: 40em) {
	section, article  {
		margin-bottom: 50px;
	}

	
}

@media(min-width: 50em) {
	section, article  {
		padding: 0 50px;
	}
}

@media(min-width: 60em) {
	section, article  {
		margin: 0;
		padding: 20px 5vw;
	}
}

@media(min-width: 70em) {
	section, article  {
		padding: 20px 10vw;
	}
}

@media(min-width: 80em) {
	section, article  {
		width: 90vw;
		max-width: 1200px;
		margin: 0 auto 50px;
		padding: 0;
	}
}
