<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="x-ua-compatible" content="ie=edge"/>
		<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"/>
		<link rel="stylesheet" href="/main.css"/>
		<link rel="shortcut icon" href="/img/amy_small.png"/>

		{% set metatitle = "Amy Kapernick" %}
		{% set description = "Amy is a freelance developer, who spends her time volunteering at various community events in Perth, works as an evangelist for YOW! and is a Twilio Champion and Microsoft MVP. In her spare time she blogs about tech, the web and life and speaks at various conferences all over the world." %}

		{# Meta Info #}
		<title>{{metatitle}}</title>
		<meta name="description" content="{{description}}"/>

		{# OG Social #}
		<meta property="og:title" content="{{metatitle}}"/>
		<meta property="og:description" content="{{description}}">
		<meta property="og:image" content="/img/socials/linkedin_wide.png"/>
		<meta name="author" content="Amy Kapernick"/>
		<meta property="og:url" content="https://amyskapers.dev"/>

		{# Twitter #}
		<meta name="twitter:card" content="summary_large_image"/>
		<meta name="twitter:site" content="@amys_kapers"/>
		<meta property="twitter:image" content="/img/socials/twitter_wide.png"/>
		<meta name="twitter:creator" content="@amys_kapers"/>
	</head>

	<body>

		<header>
			<blockquote>
				<p>Hi 👋</p>
				<p>I'm Amy</p>

				<p>
					I'm a<span class="rotate">
						<span>&nbsp;Front End Developer</span>
						<span>&nbsp;Speaker</span>
						<span>&nbsp;Dog Lover</span>
						<span>&nbsp; MVP</span>
						<span>&nbsp;Writer</span>
						<span>n Organiser</span>
						<span>&nbsp;Mentor</span>
						<span>&nbsp;Champion</span>
						<span>n Evangelist</span>
						<span>&nbsp;Conference Addict</span>
					</span>
				</p>
			</blockquote>
			<img src="./img/amy.png"/>
		</header>
		<main class="home"></main>

		<script src="/js/main.js"></script>
	</body>
</html>