---
import Layout from "@partials/layout";
import Header from "@partials/header";
import Footer from "@partials/footer";
---

<style lang="scss"></style>

<Layout content={Astro.props?.content}>
	<Header slot="header" />
	<article class="content">
		<h1>{Astro.props.content.title}</h1>

		<slot />
	</article>
	<Footer slot="footer" />
	<slot name="after-footer" slot="after-footer" />
</Layout>
