---
import Layout from "@partials/layout";
import Header from "@partials/header";
import Footer from "@partials/footer";
---

<style>
	@import '@mixins';

	article {
		@include content;
	}
</style>

<Layout content={Astro.props?.content}>
	<Header slot="header" />
	<article>
		<h1>{Astro.props.content.title}</h1>

		<slot />
	</article>
	<Footer slot="footer" />
	<slot name="after-footer" slot="after-footer" />
</Layout>
