@keyframes fade_1 {
	0% {
		position: absolute;
		opacity: 0
	}

	to {
		position: absolute;
		opacity: 0
	}

	0% {
		position: static;
		opacity: 1
	}

	8% {
		position: static;
		opacity: 1
	}

	9% {
		position: static;
		opacity: 0
	}

	9.1% {
		position: absolute
	}
}

@keyframes fade_2 {
	0% {
		position: absolute;
		opacity: 0
	}

	to {
		position: absolute;
		opacity: 0
	}

	9% {
		position: absolute;
		opacity: 0
	}

	9.9% {
		position: static
	}

	10% {
		position: static;
		opacity: 1
	}

	18% {
		position: static;
		opacity: 1
	}

	19% {
		position: static;
		opacity: 0
	}

	19.1% {
		position: absolute
	}
}

@keyframes fade_3 {
	0% {
		position: absolute;
		opacity: 0
	}

	to {
		position: absolute;
		opacity: 0
	}

	19% {
		position: absolute;
		opacity: 0
	}

	19.9% {
		position: static
	}

	20% {
		position: static;
		opacity: 1
	}

	28% {
		position: static;
		opacity: 1
	}

	29% {
		position: static;
		opacity: 0
	}

	29.1% {
		position: absolute
	}
}

@keyframes fade_4 {
	0% {
		position: absolute;
		opacity: 0
	}

	to {
		position: absolute;
		opacity: 0
	}

	29% {
		position: absolute;
		opacity: 0
	}

	29.9% {
		position: static
	}

	30% {
		position: static;
		opacity: 1
	}

	38% {
		position: static;
		opacity: 1
	}

	39% {
		position: static;
		opacity: 0
	}

	39.1% {
		position: absolute
	}
}

@keyframes fade_5 {
	0% {
		position: absolute;
		opacity: 0
	}

	to {
		position: absolute;
		opacity: 0
	}

	39% {
		position: absolute;
		opacity: 0
	}

	39.9% {
		position: static
	}

	40% {
		position: static;
		opacity: 1
	}

	48% {
		position: static;
		opacity: 1
	}

	49% {
		position: static;
		opacity: 0
	}

	49.1% {
		position: absolute
	}
}

@keyframes fade_6 {
	0% {
		position: absolute;
		opacity: 0
	}

	to {
		position: absolute;
		opacity: 0
	}

	49% {
		position: absolute;
		opacity: 0
	}

	49.9% {
		position: static
	}

	50% {
		position: static;
		opacity: 1
	}

	58% {
		position: static;
		opacity: 1
	}

	59% {
		position: static;
		opacity: 0
	}

	59.1% {
		position: absolute
	}
}

@keyframes fade_7 {
	0% {
		position: absolute;
		opacity: 0
	}

	to {
		position: absolute;
		opacity: 0
	}

	59% {
		position: absolute;
		opacity: 0
	}

	59.9% {
		position: static
	}

	60% {
		position: static;
		opacity: 1
	}

	68% {
		position: static;
		opacity: 1
	}

	69% {
		position: static;
		opacity: 0
	}

	69.1% {
		position: absolute
	}
}

@keyframes fade_8 {
	0% {
		position: absolute;
		opacity: 0
	}

	to {
		position: absolute;
		opacity: 0
	}

	69% {
		position: absolute;
		opacity: 0
	}

	69.9% {
		position: static
	}

	70% {
		position: static;
		opacity: 1
	}

	78% {
		position: static;
		opacity: 1
	}

	79% {
		position: static;
		opacity: 0
	}

	79.1% {
		position: absolute
	}
}

@keyframes fade_9 {
	0% {
		position: absolute;
		opacity: 0
	}

	to {
		position: absolute;
		opacity: 0
	}

	79% {
		position: absolute;
		opacity: 0
	}

	79.9% {
		position: static
	}

	80% {
		position: static;
		opacity: 1
	}

	88% {
		position: static;
		opacity: 1
	}

	89% {
		position: static;
		opacity: 0
	}

	89.1% {
		position: absolute
	}
}

@keyframes fade_10 {
	0% {
		position: absolute;
		opacity: 0
	}

	to {
		position: absolute;
		opacity: 0
	}

	89% {
		position: absolute;
		opacity: 0
	}

	89.9% {
		position: static
	}

	90% {
		position: static;
		opacity: 1
	}

	98% {
		position: static;
		opacity: 1
	}

	99% {
		position: static;
		opacity: 0
	}

	99.1% {
		position: absolute
	}
}

@keyframes fadeGrid_1 {
	0% {
		opacity: 0
	}

	to {
		opacity: 0
	}

	0% {
		opacity: 1
	}

	8% {
		opacity: 1
	}

	9% {
		opacity: 0
	}
}

@keyframes fadeGrid_2 {
	0% {
		opacity: 0
	}

	to {
		opacity: 0
	}

	9% {
		opacity: 0
	}

	10% {
		opacity: 1
	}

	18% {
		opacity: 1
	}

	19% {
		opacity: 0
	}
}

@keyframes fadeGrid_3 {
	0% {
		opacity: 0
	}

	to {
		opacity: 0
	}

	19% {
		opacity: 0
	}

	20% {
		opacity: 1
	}

	28% {
		opacity: 1
	}

	29% {
		opacity: 0
	}
}

@keyframes fadeGrid_4 {
	0% {
		opacity: 0
	}

	to {
		opacity: 0
	}

	29% {
		opacity: 0
	}

	30% {
		opacity: 1
	}

	38% {
		opacity: 1
	}

	39% {
		opacity: 0
	}
}

@keyframes fadeGrid_5 {
	0% {
		opacity: 0
	}

	to {
		opacity: 0
	}

	39% {
		opacity: 0
	}

	40% {
		opacity: 1
	}

	48% {
		opacity: 1
	}

	49% {
		opacity: 0
	}
}

@keyframes fadeGrid_6 {
	0% {
		opacity: 0
	}

	to {
		opacity: 0
	}

	49% {
		opacity: 0
	}

	50% {
		opacity: 1
	}

	58% {
		opacity: 1
	}

	59% {
		opacity: 0
	}
}

@keyframes fadeGrid_7 {
	0% {
		opacity: 0
	}

	to {
		opacity: 0
	}

	59% {
		opacity: 0
	}

	60% {
		opacity: 1
	}

	68% {
		opacity: 1
	}

	69% {
		opacity: 0
	}
}

@keyframes fadeGrid_8 {
	0% {
		opacity: 0
	}

	to {
		opacity: 0
	}

	69% {
		opacity: 0
	}

	70% {
		opacity: 1
	}

	78% {
		opacity: 1
	}

	79% {
		opacity: 0
	}
}

@keyframes fadeGrid_9 {
	0% {
		opacity: 0
	}

	to {
		opacity: 0
	}

	79% {
		opacity: 0
	}

	80% {
		opacity: 1
	}

	88% {
		opacity: 1
	}

	89% {
		opacity: 0
	}
}

@keyframes fadeGrid_10 {
	0% {
		opacity: 0
	}

	to {
		opacity: 0
	}

	89% {
		opacity: 0
	}

	90% {
		opacity: 1
	}

	98% {
		opacity: 1
	}

	99% {
		opacity: 0
	}
}