@use 'variables.scss';

section {
	svg {
		max-width: 400px;
	}
}

.icons {
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin: 0;
		padding: 0;
	}

	svg, img {
		width: auto;
		height: 50px;
	}

	a {
		color: variables.$purple;

		svg, img {
			& + span {
				position: absolute;
				right: -200vw;
			}
		}
	}
}

.section {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0 20px;
	text-align: center;

	.graphic {
		order: -1;

		svg {
			width: 90%;
		}
	}
}
