@use './variables.scss' as var;

body {
	color: var.$neutral;
	font-family: var.$font_main;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.5;
}

a {
	color: var.$blue;

	&:hover {
		text-decoration: none;
	}
}

pre, code {
	font-family: 'Source Code Pro', monospace;
	font-weight: 400;
}

h1, h2, h3 {
	font-weight: 700;
	text-transform: uppercase;
}

h1 {
	font-size: 2em;
}

h1, h2 {
	color: var.$darkpurple;
}

h3 {
	color: var.$navy;
}

h1, h2, h3, h4, h5 {
	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
